[Unit]
Description=Daora Kids Sync Service (Python v2.9.2)
After=network-online.target mnt-videos.mount
Wants=network-online.target
Requires=mnt-videos.mount

[Service]
Type=oneshot
User=stream
Nice=19
IOSchedulingClass=idle
WorkingDirectory=/home/stream
ExecStart=/usr/bin/python3 /home/stream/sincronizador.py
