[Unit]
Description=Daora Kids Sync Service (Python v3.0)

After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=stream
Nice=19
IOSchedulingClass=idle
WorkingDirectory=/home/stream
ExecStart=/usr/bin/python3 /home/stream/sincronizador.py

[Install]
WantedBy=multi-user.target
