[Unit]
Description=Timer para Sincronizacao de Videos Daora Kids (Hora em Hora)

[Timer]
# Roda no boot apos 5 minutos
OnBootSec=5min
# Roda exatamente no inicio de cada hora (Ex: 14:00, 15:00...)
OnCalendar=hourly
# Garante que rode mesmo se o Pi ligar depois da hora marcada
Persistent=true
Unit=daorakids-sync.service

[Install]
WantedBy=timers.target
