[Unit]
Description=Timer para Sincronizacao de Videos Daora Kids

[Timer]
# Roda 1 minuto apos o boot
OnBootSec=1min
# Roda a cada 15 minutos apos a ultima execuçao
OnUnitActiveSec=15min
Unit=daorakids-sync.service

[Install]
WantedBy=timers.target
