[Unit]
Description=Daora Kids Scheduler Timer

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=daorakids-scheduler.service

[Install]
WantedBy=timers.target
