[Unit]
Description=Daora Kids Cerebro Service
After=network-online.target

[Service]
Type=oneshot
User=stream
WorkingDirectory=/home/stream
ExecStart=/usr/bin/python3 /home/stream/cerebro.py
